@font-face {
    font-family: 'Poleno';
    src: url('fonts/Poleno.otf') format('opentype'); /* Ensure this matches your actual font file name */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: green; /* Background color set to green */
    color: black; /* Text color set to white for contrast */
}

.container {
    margin-top: 50px;
}

#nameInput {
    padding: 10px;
    font-size: 18px;
    margin-top: 20px; /* Add margin to space it from the output text */
}

.output {
    margin-bottom: 20px; /* Add space below the output text */
    font-size: 36px;
    font-family: 'Poleno', sans-serif; /* Apply Poleno font */
}
